# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\spring5fs-master\sp5-chap02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
